.decoracao {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 20px;
    text-align: center;
}

.linhaR {
    height: 1px;
    width: 160px;
    background: linear-gradient(
        to right,
        #E07A47,
        transparent
    );
    border: none;
}

.linhaL {
    height: 1px;
    width: 160px;
    background: linear-gradient(
        to right,
        transparent,
        #E07A47
    );
    border: none;
}

.divisaox {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-divisaox {
    height: 2px;
    width: 160px;
    background: linear-gradient(
        to right,
        transparent,
        #E07A47,
        transparent
    );
    border: none;
}

.divisaoy {
    display: flex;
    width: 5px;
    height: 100%;
}

.linha-divisaoy {
    height: 100px;
    width: 1px;
    background-color: #E07A47;
}

.sub-hero i {
    color: #E07A47;
}

#contato-final {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 80px 20px;

    background-image: url(../imagem/banner/banner-newsletter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contato-conteudo {
    width: 100%;
}

.contato-subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    letter-spacing: 3px;

    color: #c58b42;

    margin-bottom: 15px;
}

.contato-conteudo h2 {
    margin: 0 0 18px;

    font-family: Georgia, serif;

    font-size: 48px;

    color: #552333;
}

.contato-conteudo p {
    max-width: 600px;

    margin: 0 auto 35px;

    font-size: 17px;
    line-height: 1.7;

    color: #4a3a3a;
}

.whatsapp-form {
    text-align: left;

    max-width: 600px;
    margin: 0 auto;
}

.whatsapp-form label {
    display: block;

    margin-bottom: 8px;

    font-size: 14px;

    color: #552333;
}

.input-whatsapp {
    display: flex;

    background: white;

    border: 1px solid #e7c8b5;

    border-radius: 8px;

    padding: 5px;
}

.input-whatsapp input {
    flex: 1;

    border: none;
    outline: none;

    padding: 15px;

    font-size: 16px;

    background: transparent;
}

.input-whatsapp button {
    border: none;
    font-size: 15px;
    transition: 0.3s;
    width: 220px;
}

.redes-sociais {
    margin-top: 40px;
}

.redes-sociais > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #6b5555;
}

.icones-redes {
    display: flex;

    justify-content: center;

    gap: 12px;
}

.icones-redes a {
    width: 42px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 1px solid #d8a56c;

    color: #b77a3d;

    text-decoration: none;

    transition: 0.3s;
}

.icones-redes a:hover {
    background: #b77a3d;

    color: white;

    transform: translateY(-3px);
}

@media (max-width: 480px) {

    body {
        max-width: 100vw;
    }

    .linhaR {
    height: 1px;
    width: 120px;
    background: linear-gradient(
        to right,
        #E07A47,
        transparent
    );
    border: none;
}

    .linhaL {
        height: 1px;
        width: 120px;
        background: linear-gradient(
            to right,
            transparent,
            #E07A47
        );
        border: none;
    }

    header {
        flex-direction: column;
        gap: 15px;
    }

    header nav {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
    }

    #hero {
        height: auto;
        padding: 30px 15px;
        background-position: center;
        background-size: cover;
        background-image: url(../imagem/banner/banner-mobile.png);
    }

    .sub-hero {
        width: 100%;
        text-align: center;
    }

    #hero h2 {
        font-size: 32px;
    }

    #hero p {
        font-size: 18px;
    }

    .marcas {
        flex-wrap: wrap;
        gap: 10px;
    }

    .img-marcas {
        width: 70px;
        height: 70px;
    }

    .bloco-linhas {
        width: 90%;
        min-width: 350px;
        min-height: 400px;
    }

    .bloco-destaque {
        min-width: 350px;
        min-height: 400px;
    }

    .bloco-botao button {
        width: 100%;
    }

    .sobre {
        flex-direction: column;
    }

    .banner-sobre {
        width: 100%;
        min-height: 500px;
        background-position: center;
        background-image: url(../imagem/banner/celular.png);
    }

    .banner-sobre div {
        width: 100%;
        text-align: center; 
    }

    .historia p {
        background-color: #fdfcfc6f;
        border-radius: 2px;
    }

    .historia h2 {
        font-size: 32px;
        background-color: #fdfcfc6f;
    }

    .historia button {
        width: 100%;
    }

    .sub-sobre {
        gap: 20px;
    }

    .beneficios {
        flex-direction: column;
        gap: 20px;
    }

    .divisaoy {
        display: none;
    }

    .banner-empresa {
        min-height: auto;
        padding: 20px;
    }

    .empresa {
        flex-direction: column;
        gap: 20px;
    }

    .bloco-empresa {
        min-width: 350px;
        min-height: 300px;
        padding: 20px;
    }

    #contato-final {
        padding: 40px 15px;
    }

    .contato-conteudo {
        padding: 20px;
    }

    .contato-conteudo h2 {
        font-size: 32px;
    }

    .input-whatsapp {
        flex-direction: column;
        gap: 10px;
    }

    .input-whatsapp button {
        width: 100%;
        height: 45px;
    }

    footer {
        text-align: center;
    }

    .container-footer {
        flex-direction: column;
        gap: 30px;
    }

    .bloco-footer {
        flex-direction: column;
        gap: 30px;
        padding: 30px 0px;
    }

    .logo-redes {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .icon-footer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {

    header nav {
        font-size: 18px;
    }

    #hero h2 {
        font-size: 40px;
    }

    .linhas {
        gap: 15px;
    }

    .bloco-linhas {
        width: 45%;
    }

    .produtos-destaque {
        gap: 20px;
    }

    .bloco-destaque {
        width: 45%;
    }

    .empresa {
        flex-wrap: wrap;
        gap: 20px;
    }

    .bloco-empresa {
        width: 45%;
    }

    .beneficios {
        width: 90%;
    }

    .container-footer {
        flex-wrap: wrap;
        gap: 20px;
    }

    .bloco-footer {
        flex-wrap: wrap;
        gap: 20px;
    }

    .bloco-footer {
        order: -1;
    }

}

@media (max-width: 1024px) {

    #hero h2 {
        font-size: 45px;
    }

    .bloco-linhas {
        width: 30%;
    }

    .bloco-destaque {
        width: 30%;
    }

    .empresa {
        flex-wrap: wrap;
        gap: 20px;
    }

    .bloco-empresa {
        width: 30%;
    }

    .beneficios {
        width: 80%;
    }

    .container-footer {
        gap: 20px;
    }
}
